<div class="comment comment_form_container"
data-shortid="<%= comment.short_id if comment.persisted? %>">
<%= form_with url: comment, id: "edit_comment_#{comment.short_id}", local: true do |f| %>
  <% if comment.errors.any? %>
    <%= errors_for comment %>
  <% end %>

  <%= f.hidden_field "story_id", value: comment.story.short_id %>
  <%= f.hidden_field "_method", value: "#{comment.new_record?? 'post' : 'patch'}" %>

  <% if comment.parent_comment %>
    <%= f.hidden_field "parent_comment_short_id", value: comment.parent_comment.short_id %>
  <% end %>

  <div style="width: 100%;">
      <%= f.text_area "comment", :value => comment.comment, :rows => 5,
      :disabled => !@user,
      :placeholder => (@user ? "" : "You must be logged in to leave a comment.")
      %>

    <p></p>

    <div>
      <% if @user %>
        <div class="comment_image">
          <button id="image_file_button">Attach Image</button>
          <input id="image_file" type="file">
        </div>

        <script type="text/javascript">
          $(document).ready(function() {
            var button = $("#image_file_button");
            $("#image_file").on("change", function() {
              button.text("Uploading...");
              var file = $("#image_file")[0].files[0];
              if(!file || !file.type.match(/image.*/)) return;
              var data = new FormData();
              data.append("image", file);
              var xhr = new XMLHttpRequest();
              xhr.open("POST", "https://api.imgur.com/3/image");
              xhr.setRequestHeader("Authorization", "Client-ID 8cdf90886076167");
              xhr.onload = function() {
                var res = JSON.parse(xhr.responseText);
                if(!res.success) return;
                $("#comment").val($("#comment").val() + "\n\n" + "![](" + res.data.link + ")");
              };
              xhr.send(data);
            });
          });
        </script>
      <% end %>

      <%= f.submit "#{comment.new_record?? "Post" : "Update"}",
        :class => "comment-post", :disabled => !@user %>
      &nbsp;
      <%= f.button "Preview", :class => "comment-preview",
        :type => "button", :disabled => !@user %>
      <% if comment.persisted? || comment.parent_comment_id %>
        &nbsp;
        <%= f.button "Cancel", :class => "comment-cancel",
          :type => "button" %>
      <% end %>

      <% if @user && @user.wearable_hats.any? %>
        <div style="display: inline-block; margin-left: 1em;">
        Hat:
        <%= f.select "hat_id",
          options_from_collection_for_select(@user.wearable_hats, "id", "hat",
          comment.hat_id), :include_blank => true %>
        </div>
      <% end %>

      <div style="clear: both;"></div>

      <% if @user %>
        <%= render :partial => "global/markdownhelp" %>
      <% end %>
    </div>
  </div>

  <p></p>
<% end %>
<% if defined?(show_comment) && show_comment.valid? %>
  <div class="preview">
    <%= render "comments/comment", :comment => show_comment,
      :show_tree_lines => defined?(show_tree_lines) && show_tree_lines %>
  </div>
<% end %>
</div>
